*.iml
.gradle
/local.properties

# Android Studio 3 in .gitignore file.
*.iml
.idea/*

# Comment next line if keeping position of elements in Navigation Editor is relevant for you
.idea/navEditor.xml

.DS_Store
/build
/captures
.externalNativeBuild
